<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success" [routerLink]="['/add']">New Product</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- <p>No Available Products</p> -->
        <a *ngFor="let product of products;"
            [routerLink]="['/update',product.id]"
            style=" cursor: pointer;" 
            routerLinkActive="active" 
            class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ product.name }}</h4>
                <p class="list-group-item-text">{{ product.description }}</p>
                <p class="list-group-item-text">{{ product.price }}</p>
            </div>
             <span class="pull-right">
                <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)"><span class="bi bi-trash"></span> Delete</button>
            </span>
        </a>

    </div>
</div>